.button {
    background-color: lightblue;
    border-radius: 5px;
    height: 50px;
    border-style: solid;

}

.container {
    text-align: center;
    background-color: azure;
    

}
#survey-form {
    font-size: 19px;
}

#name-label {
    font-size: 15px;
}

#email-label {
    font-size: 15px;
}

#number-label {
    font-size: 15px;
}



h1 {
    font-size: 50px;
}
